            /*-------------SUMMARY----------------*/
            /*-------------------------------------*/

            /*------------NAVIGATION---------------*/
            /*--------------searchbar--------------*/
            /*--------------FILTers----------------*/
                        /*---INFO---*/
            /*--------HEBERGEMENTS-REGULAR---------*/
            /*--------HEBERGEMENTS-POPULAR---------*/
            /*--------------ACTIVITIES-------------*/
            /*---------------FOOTER----------------*/

* {
    box-sizing: border-box;
}


body {
    font-family: 'Raleway', sans-serif;
    padding: 0 65px 0px 69px;
}

h2{
    font-size: 25px;
}

a {
    text-decoration: none;
    color: black;
}

            /*-------------------------------------*/
            /*------------NAVIGATION---------------*/
            /*-------------------------------------*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
}

.logo img {
    width: 140px;
    height:auto;
    margin: 45px 30px 20px 5px;
}

.menu {
    display: flex;
    list-style: none;
    align-items: center;
    padding-left:0;
}

.menu a {
    display: flex;
    margin-top: -16px;
    padding: 60px 30px 50px 30px;
    font-size: 23px;
    border-top: 4px solid rgba(0, 0, 0, 0);
}

.menu a:hover {
    color: #0065FC;
    border-top: 4px solid #0065FC;
}

header h1 {
    font-size: 28px;
}

header h2 {
    font-weight:400;
    margin-top: -10px;
}

            /*---------------------------------------*/
            /*--------------searchbar----------------*/
            /*---------------------------------------*/

.searchbar { 
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    max-width: auto;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}
            
.localisation {
    min-width: 62px;
    height: 62px;
    background-color: #F2F2F2;
            
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
            
    border-right: 0;
    border-radius: 20px 0 0 20px;
            
}

.localisation span {
    font-size: 138%;
}
            
.mapmarked {
    display: flex;
    justify-content: center;
    align-items: center;
}
            
.champ {
    font-size: 22px;
    font-weight: 700;
    padding-left: 20px;
    border-left: 1.5px solid #F2F2F2;
    border-top: 1.5px solid #F2F2F2;
    border-bottom: 1.5px solid #F2F2F2;
    border-right: 0;
    width: 275px;
    height: 62px;
}

::placeholder {
    font-size: 20px;
    font-weight: 400;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.right p {
    display: flex;
    justify-content: center;
    align-items: center;
}
            
.btn_desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 177px;
    height: 62px;
    border: 0;
    color: #fff;   
    border-radius: 0px 20px 20px 0px;
    background-color: #0065FC;
    font-size: 22px;
    font-weight: 700;
}
            
.btn_desktop:hover {
    background-color: #0065FC;
    color: white;
    cursor: pointer;        
    box-shadow: inset -2px -2px 7px rgba(0, 0, 0, .3),
                inset 2px 2px 7px rgba(255, 255, 255, .3);
}
            
.btn_desktop:active {        
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, .3),
                inset -1px -1px 5px rgba(255, 255, 255, .2);
}

.btn_mobile {
    display: none;

}
            /*-------------------------------------*/
            /*--------------FILTRES----------------*/
            /*-------------------------------------*/
.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 24px;
    max-width: 1180px;

}

.filters h2 {
    display: flex;
    margin-right: 15px;
}

.bodyfilter {
    display: flex;
    margin-right: 5px;
    align-items: center;
    border: 3px solid #d6d6d6;
    height: 64px;
    border-radius: 64px;
    transition: all 0.4s;
}

.bodyfilter:nth-child(2) {
    min-width: 234px;
}

.bodyfilter:nth-child(3) {
    min-width: 185px;
}

.bodyfilter:nth-child(4) {
    min-width: 226px;
}

.bodyfilter:nth-child(5) {
    min-width: 296px;
}

.bodyfilter:hover {
    background-color: #deebff;
    border: 3px solid #deebff;
    cursor: pointer;
}

.iconcercle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -5px;
    border: 1px #DEEBFF;
    height: 64px;
    min-width: 64px;
    border-radius: 64px;
    background-color: #DEEBFF;

}

.filters span {
    font-size: 138%;
    color: #0065FC;
}

.filters p {
    display: flex;
    margin: 14px;
    font-size: 22px;
    font-weight: 700;
}


            /*----------*/
            /*---INFO---*/
            /*----------*/
.info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
}

.infocercle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #d6d6d6;
    height: 32px;
    min-width: 32px;
    border-radius: 32px;
    margin-right: 15px;
}

.info span {
    font-size: 90%;
    color: #0065FC;
}

.info p {
    font-size: 22px;
}
            /*-----------------------------*/
            /*--------HEBERGEMENTS---------*/
            /*-----------------------------*/
.hebergements {
    width: 1790px;

    display: flex;
    align-items: center;
    flex-flow: row wrap;
    margin-left: -13px;
}

.hebergements p span, strong  {
    font-weight: bold;
}

            /*-------------------------------------*/
            /*--------HEBERGEMENTS-REGULAR---------*/
            /*-------------------------------------*/
.megabox_all_hebergements_regular {
    width: 1128px;
    height: 750px;
    background-color: #F2F2F2;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.megabox_all_hebergements_regular h2 {
    margin: 50px 0 10px 60px;
}

.box_cartes {
    width: 1100px;
    height: 550px;

    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    flex-flow: row wrap;
    margin: auto;
}

.box_hebergement_regular {
    width: 310px;
    height: 256px;
    background-color:white;
    border-radius: 28px;
    box-shadow: 3px  3px 10px #C2C2C2;

    display: flex;
    flex-flow: row wrap;
}

.box_hebergement_regular .box_photo img {
    width: 310px;
    height: 145px;
    border: 5px solid white;
    border-radius: 25px 25px 0 0;
    margin: auto;
}

.photo {
    object-fit: cover;
}

.box_hebergement_regular p {
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.legende {
    font-weight: bold;
    font-size: 21px;
    color: black;
}

.box_hebergement_regular .stars_rating {
    display: flex;
    flex-direction: row;
    margin-left: 18px;
}
.star_blue {
    color:#0065FC;
}
.star_grey {
    color: #F2F2F2;
}

.megabox_all_hebergements_regular .afficher_plus {
    font-size: 22px;
    font-weight: bold;
    width: 150px;
    margin: 10px 0 30px 60px;
}

.megabox_all_hebergements_regular .afficher_plus:hover {
    cursor: pointer;
}

            /*-------------------------------------*/
            /*--------HEBERGEMENTS-POPULAR---------*/
            /*-------------------------------------*/
.megabox_all_hebergements_popular {                                                 /* contenair pop */
    width: 600px;
    height: 750px;
    background-color: #F2F2F2;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
}


.megabox_all_hebergements_popular .h2_pop {                                       /* H2 */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 50px -24px 60px;
}

.megabox_all_hebergements_popular .h2_pop span {                                  /* icon increasing */
    font-size: 150%;
}

.box_cartes_pop {                                                                  /* contenair box pop */
    width: 518px;
    height: 600px;

    display: flex;
    justify-content: space-around;
    align-content: space-between;
    margin: auto;
    flex-flow: row wrap;
}

.box_hebergement_popular {                                                          /* chaque box popular */
    width: 488px;
    height: 175px;
    background-color: white;
    border-radius: 28px;
    box-shadow: 3px  3px 10px #C2C2C2;

}

.box_hebergement_popular .box_photo img {                                            /* image */
    width: 175px;
    height: 175px;
    border: 5px solid white;
    border-radius: 25px 0 0 25px;
    margin: auto;
}

.text_box_pop {                                                                     /* texte */
    display: flex;
    flex-flow: column wrap;
    margin-left: 20px;
    margin-right: 64px;
}

.text_box_pop p {
margin-bottom: 0;
}

.box_hebergement_popular .contenu_carte {
    color: black;
    display: flex;
    flex-direction: row;
}

.box_hebergement_popular .stars_rating {                                            /* étoiles */
    display: flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: 20px;
}

            /*-------------------------------------*/
            /*--------------ACTIVITÉS--------------*/
            /*-------------------------------------*/

section .titre_activite {
    margin:70px 0 35px -5px;
}

.megabox_all_activites {                                                        /* contenair activités */
    width: 1790px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: -13px;
}
            
.box_colonne_activites {                                                            /* colonnes */
    width:410px;
    height: 570px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box_activite {                                                             /* toutes les box activités*/
    display: flex;
    width:410px;
    border-radius: 30px;
    box-shadow: 3px  3px 10px #C2C2C2;
}


.box_activite1, 
.box_activite4 {
    height: 570px;
}


.box_activite1 .box_photo img,                                                      /* box 1 et 4 */
.box_activite4 .box_photo img{
    display: flex;
    margin: auto;
    width: 410px;
    height: 510px;
    border-radius: 30px 30px 0 0;
}


.box_activite2 {                                                                        /* box 2 */
    height: 315px;
}
.box_activite2 img{
    display: flex;
    margin: auto;
    width: 410px;
    height: 255px;
    object-position: 55% 45%;
    border-radius: 30px 30px 0 0;
}


.box_activite3 {                                                                        /* box 3 */
    height: 205px;
}
.box_activite3 img{
    display: flex;
    margin: auto;
    width: 410px;
    height: 145px;
    object-position: 70% 30%;
    border-radius: 30px 30px 0 0;
}


.box_activite5 {                                                                            /* box 5  */
    height: 255px;
}
.box_activite5 img{
    display: flex;
    margin: auto;
    width: 410px;
    height: 195px;
    object-position: 90% 10%;
    border-radius: 30px 30px 0 0;
}


.box_activite6 {                                                                            /* box 6 */
    height: 265px;
}
.box_activite6 img{
    display: flex;
    margin: auto;
    width: 410px;
    height: 205px;
    object-position: 70% 30%;
    border-radius: 30px 30px 0 0;
}

.box_activite .legende {                                                                    /* legende */
    margin: 18px 20px 20px 20px;
}



                /*-------------------------------------*/
                /*---------------FOOTER----------------*/
                /*-------------------------------------*/

footer {
    background-color: #F2F2F2;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
    margin: 70px -50px -80px -65px;
    padding-left: 65px;
    padding-top: 35px;
    padding-bottom: 35px;
}

.infos_footer {
    margin-right: 350px;
}

.infos_footer:hover {
    cursor: pointer;
}

/*____________________________________________________________MOBILE_________________________________________________________________________*/

@media screen and (max-width: 768px) {

    * {
        box-sizing: border-box;
    }

    body {
        font-family: 'Raleway', sans-serif;
        padding: 0 0px 80px 0px;
        
    }
    
    h2{
        font-size: 25px;
    }
    
    a {
        text-decoration: none;
    }
    
    
                /*-------------------------------------*/
                /*------------NAVIGATION---------------*/
                /*-------------------------------------*/

    .logo img {
        width: 138px;
        height:auto;
        margin: 25px 30px -28px 30px;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .sous_nav {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .menu {
        min-width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        padding-left: 0;
        margin-bottom: 20px;
        
    }
    
    .menu li {
        width: 50%;
    }
    
    .menu a {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
        font-size: 23px;
        border-top: 4px solid rgba(0, 0, 0, 0);
        border-bottom: 4px solid #F2F2F2;
        
    }
    
    .menu a:hover {
        color: #0065FC;
        border-top: 4px solid rgba(0, 0, 0, 0);
        border-bottom: 4px solid #0065FC;
    }

    header h1 {
        font-size: 30px;
        margin-bottom: 24px;
    }
    
    header h2 {
        font-size: 22px;
        font-weight:400;
        margin-top: -10px;
    }

            /*---------------------------------------*/
            /*--------------searchbar----------------*/
            /*---------------------------------------*/

.searchbar { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    max-width: auto;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}
            
.localisation {
    min-width: 70px;
    height: 70px;
    background-color: #F2F2F2;
            
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
            
    border-right: 0;
    border-radius: 20px 0 0 20px;
            
}

.localisation span {
    font-size: 150%;
}
            
.mapmarked {
    display: flex;
    justify-content: center;
    align-items: center;
}
            
.champ {
    font-size: 24px;
    font-weight: 700;
    padding-left: 20px;
    border-left: 1.5px solid #F2F2F2;
    border-top: 1.5px solid #F2F2F2;
    border-bottom: 1.5px solid #F2F2F2;
    border-right: 0;
    width: 314px;
    height: 70px;
}

::placeholder {
    font-size: 20px;
    font-weight: 400;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.right p {
    display: flex;
    justify-content: center;
    align-items: center;
}
         
.btn_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin-left: -16px;
    border: 0;
    color: #fff;   
    border-radius: 20px 20px 20px 20px;
    background-color: #0065FC;
    font-size: 22px;
    font-weight: 700;
}
            
.btn_mobile:hover {
    background-color: #0065FC;
    color: white;
    cursor: pointer;
            
    box-shadow: inset -2px -2px 7px rgba(0, 0, 0, .3),
                inset 2px 2px 7px rgba(255, 255, 255, .3);
}
            
.btn_mobile:active {        
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, .3),
                inset -1px -1px 5px rgba(255, 255, 255, .2);
}

.btn_desktop {
    display: none;
}

.filters {
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
}

.filters h2 {
    display: flex;
    min-width: 100%;
    margin-right: 39px;
}

.bodyfilter {
    margin-bottom: 20px;
}

.info {
    padding-left: 19px;
    padding-right: 14px;
}

}

@media screen and (min-width: 768px) and (max-width: 992px) {

    * {
        box-sizing: border-box;
    }
    
    
    body {
        font-family: 'Raleway', sans-serif;
        padding: 0 0px 80px 0px;
        
    }
    
    h2{
        font-size: 24px;
    }
    
    a {
        text-decoration: none;
    }
    
    
                /*-------------------------------------*/
                /*------------NAVIGATION---------------*/
                /*-------------------------------------*/

    .logo img {
        width: 138px;
        height:auto;
        margin: 25px 30px -28px 30px;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .sous_nav {
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .menu {
        min-width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style: none;
        padding-left: 0;
        margin-bottom: 20px;
        
    }
    
    .menu li {
        width: 50%;
    }
    
    .menu a {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
        font-size: 23px;
        border-top: 4px solid rgba(0, 0, 0, 0);
        border-bottom: 4px solid #F2F2F2;
        
    }
    
    .menu a:hover {
        color: #0065FC;
        border-top: 4px solid rgba(0, 0, 0, 0);
        border-bottom: 4px solid #0065FC;
    }

    header h1 {
        font-size: 30px;
        margin-bottom: 24px;
    }
    
    header h2 {
        font-size: 22px;
        font-weight:400;
        margin-top: -10px;
    }

            /*---------------------------------------*/
            /*--------------searchbar----------------*/
            /*---------------------------------------*/

.searchbar { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    max-width: auto;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}
            
.localisation {
    min-width: 70px;
    height: 70px;
    background-color: #F2F2F2;
            
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
            
    border-right: 0;
    border-radius: 20px 0 0 20px;
            
}

.localisation span {
    font-size: 150%;
}
            
.mapmarked {
    display: flex;
    justify-content: center;
    align-items: center;
}
            
.champ {
    font-size: 24px;
    font-weight: 700;
    padding-left: 20px;
    border-left: 1.5px solid #F2F2F2;
    border-top: 1.5px solid #F2F2F2;
    border-bottom: 1.5px solid #F2F2F2;
    border-right: 0;
    width: 314px;
    height: 70px;
}

::placeholder {
    font-size: 20px;
    font-weight: 400;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.right p {
    display: flex;
    justify-content: center;
    align-items: center;
}
         
.btn_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin-left: -16px;
    border: 0;
    color: #fff;   
    border-radius: 20px 20px 20px 20px;
    background-color: #0065FC;
    font-size: 22px;
    font-weight: 700;
}
            
.btn_mobile:hover {
    background-color: #0065FC;
    color: white;
    cursor: pointer;
            
    box-shadow: inset -2px -2px 7px rgba(0, 0, 0, .3),
                inset 2px 2px 7px rgba(255, 255, 255, .3);
}
            
.btn_mobile:active {        
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, .3),
                inset -1px -1px 5px rgba(255, 255, 255, .2);
}

.btn_desktop {
    display: none;
}

}